<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-zont-appintents" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ZontAppintents</name>
    <description>Cordova Plugin fo appintents IOS16+</description>
    <keywords>appIntents, ios</keywords>
    <js-module name="siriPlugin" src="www/siriPlugin.js">
        <clobbers target="registerForSiriCommands" />
    </js-module>
    <platform name="ios">
        <preference name="deployment-target" value="18.0" />
        <config-file target="*-Info.plist" parent="NSAppIntents">
            <array>
                <string>siriAppIntent</string>
            </array>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="ZontAppintents">
                <param name="ios-package" value="CDVSiriPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVSiriPlugin.h"/>
        <source-file src="src/ios/CDVSiriPlugin.swift" />
        <source-file src="src/ios/siriAppIntent.swift" />
        <source-file src="src/ios/siriAppShortcuts.swift" />
        <source-file src="src/ios/dinamic-options/circuitsTargetTemp.swift" />
        <source-file src="src/ios/dinamic-options/controlsTrigger.swift" />
        <source-file src="src/ios/dinamic-options/modesActivate.swift" />
        <source-file src="src/ios/dinamic-options/quardZonesActivate.swift" />
        <source-file src="src/ios/dinamic-options/scenariosActivate.swift" />
        <source-file src="src/ios/dinamic-options/siriDinamicOptionsDevice.swift" />
        <framework src="Foundation.framework"/>
        <framework src="AppIntents.framework" />
        <framework src="SwiftUI.framework" />
    </platform>
</plugin>           
